body {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #221414;
}

img {
  display: block;
  margin: 30px auto;
  border: 10px solid white;
  border-radius: 10px;
}

.header,
h1 {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  padding: 1vw;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10vh 20vw;
}

li {
  list-style-type: none;
}

a {
  color: white;
}